.user-profile-container {
    font-family: Montserrat
}
.collection-images {
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    
}

.artist-images {
     height: 50px;
    width: 50px;
    padding: 20px; 
}

.collection-container {
    display: flex;
    flex-direction: row;
}

.collection-container {
    display: flex;
    flex-direction: column;
   
}

.grid-tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
}

.span1 {
    padding-left: 5px;
}

.tab-container {
    border-bottom: 1px solid rgba(128, 128, 128, 0.486)
}

.collection-tab, .follows-tab {
    list-style-type: none;
    color: whitesmoke
}

.collection-tab:hover, .follows-tab:hover {
    cursor: pointer;
}

.follows-display, .collection-display {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.text-area{
    font-family: 'Montserrat';
    font-style: italic;
}
