.album-page {
    display: grid;
    background-color: lightblue;
    grid-template-areas: 
    'left left middle middle right';
}

.album-left{
    grid-area: left;
    
}

.album-center{
    grid-area: middle;
}

.album-art {
    height: 25vh;
    width: 15vw;
    grid-area: middle;
}
.album-right {
    grid-area: right;
    display: flex;

}

.album-artist {
    grid-area: left;
}

.album-name {
    font-family: 'Helvetica-Neue';
    font-size: 1.5em;
}

.artist-name {
    font-size: 1.10em;
}

.artist-pic {
    height: 100px;
    width: 100px;
}